_ReSharper.*
StyleCop.Cache
*.cache
*.user
*.suo
*.ncb
*.sdf
*.opensdf
bin/
obj/
Release/
Debug/
*.ncb
*.sdf
*.opensdf
TypeNormalizer.exe
WebKit.interop.dll
TestResults
UpgradeLog.XML
_UpgradeReport_Files
JSCore/Debug
JSCore/Release
